.home__draw {
    width: 100vw;
}

.home__logo {
    width: 30vw;
    margin: 1em;
}

.home__description {
    color: var(--important-text-color);
}

.home__social-media {
    display: flex;
    width: 35vw;
    margin: 1em;
    justify-content: space-around;
    align-items: center;
}
.home__social-media-item {
    width: 30px;
}

.home__footer {
    margin-top: 2.3em;
    display: flex;
    flex-direction: column;
}

.home__arrow {
    padding-top: 0.8em;
    height: 1.5em;
    animation: down 2s;
    animation-iteration-count: infinite;
}

@keyframes down {
    0% {
        margin-top: 0em;
    }
    50% {
        margin-top: 1em;
    }
    100% {
        margin-top: 0em;
    }
}
