:root {
    --background-color: white;
    --primary-color: #a93653;
    --title-color: #b23957;
    --text-color: #444444;
    --important-text-color: #383838;
    --header-text-color: #535353;
    --title-section-color: rgba(0, 0, 0, 0.05);
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
