.skill {
    padding-top: 6em;
}
.skills {
    width: 100%;
}

.skills__container {
    display: flex;
}

.skill__container {
    display: flex;
    justify-content: center;
    float: left;
}

.skill__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.skill__image {
    max-width: 80%;
    height: 35vh;
}

.skill__title {
    margin-top: 0em;
    margin-bottom: 0.5em;
}
.skill__subtitle {
    color: var(--title-color);
    font-weight: 200;
    font-size: 1.5em;
}

@media (min-width: 630px) {
    .skill__subtitle {
        font-size: 1.8em;
    }
}

@media (min-width: 1000px) {
    .skill__item {
        flex-direction: row;
        width: 95%;
        justify-content: space-around;
    }
    .skill__image {
        width: 50%;
    }
    .skill__details {
        width: 40%;
    }
    .skill__subtitle {
        font-size: 1.5em;
    }
}
