.view {
    padding-top: 4.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.subtitle {
    color: var(--title-section-color);
    font-size: 24vw;
    margin-top: 0.5em;
    width: max-content;
    position: absolute;
    z-index: -1;
    font-weight: bolder;
}

.title {
    color: var(--title-color);
    font-size: 2em;
    font-weight: bolder;
}
